{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-param-reassign": [2, { "props": false }]
  }
}
