language: node_js
os: linux
dist: bionic
cache: npm
node_js:
  - node
  - lts/*
  - stable
  - 13
  - 12
  - 11
  - 10
  - 9
  - 8

stages:
  - lint
  - test
  - coverage
  - name: release
    if: branch = master && type NOT IN (pull_request)

jobs:
  include:
    - stage: lint
      script: npm run lint
    - stage: coverage
      script: npm run coverage
    - stage: release
      node_js: node
      deploy:
        provider: script
        cleanup: false
        script: npx semantic-release
